In [2]:
import csv
import os
import pandas as pd
import numpy as np

In [3]:
donors = pd.read_csv("C:\\Users\\Edgar\\Desktop\\UTA_XL_Master\\donors2008.csv")

In [4]:
donors_df = pd.DataFrame(donors)

In [5]:
print(donors_df)

        LastName FirstName          Employer           City State    Zip  \
0          Aaron    Eugene  State Department         Dulles    VA  20189
1          Abadi   Barbara       Abadi & Co.       New York    NY  10021
2        Adamany   Anthony           Retired       Rockford    IL  61103
3          Adams  Lorraine              Self       New York    NY  10026
4          Adams    Marion              None         Exeter    NH  03833
...          ...       ...               ...            ...   ...    ...
1771   Zinczenko     David            Rodale      Allentown    PA  18102
1772  Zschiesche     Peter               NaN      San Diego    CA  92104
1773  Zweidinger      Ruth               NaN   Hillsborough    NC  27278
1774   Zwerdling     David    Montg Cnty, Md  Silver Spring    MD  20910
1775     Zyskind       Jon      JDS Uniphase        Concord    MA  10742

      Amount  FIELD8
0      500.0     NaN
1      200.0     NaN
2      500.0     NaN
3      200.0     NaN
4      100.0     NaN
...      ...     ...
1771   500.0     NaN
1772   250.0     NaN
1773   250.0     NaN
1774    35.0     NaN
1775    25.0     NaN

[1776 rows x 8 columns]